body {
	font-family:georgia !important;
	margin:20px !important;
}
.section {
	font-size:30px;
	opacity:.8;
	text-decoration: underline;
	padding-left:20px;
}

a {
	text-decoration: none;
	color:black;
	cursor:pointer;
}

.title {
	font-size:22px !important;
}

a:hover {
	color:#67B3F4 !important;
}

.lesson {
	width:80%;
	padding:10px;
	padding-left:30px;
}

.description {
	opacity:.5;
	font-size:16px;
}

.challenge {
	padding-left:30px;
}

table#details tr td:first-child{
	font-weight:bold;
	padding-right:10px;
}

.btn-group-justified>.btn-group .btn {
  font-size: 25px;
}
.group {
	border-bottom:1px solid #d3d3d3;
}
.row {
	padding-bottom:10px;
}


.resource.reading {
	background-image: url(../img/reading-sm.png);
}

.resource.video {
	background-image: url(../img/video-sm.png);
}

.resource.slides {
    background-image: url(../img/slides-sm.png);
}

.resources .resource {
  list-style: none;
  min-height: 32px;
  padding-left: 42px;
  line-height: 32px;
  background-repeat: no-repeat;
}