@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

main {
	padding-bottom:125px;
}
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: mistyrose;
}
form{
    background-color: lavender;
}
button{
    background-color: #d9edf7;
}
.details {
    color:rgb(242, 152, 152);
}

.btn-default {
	color: #337ab7
}

.btn-default:hover {
	color:#67B3F4 !important
}

.btn-group, .btn-group-vertical {
	padding:8px;
}

.jumbotron {
    background-image: url(../img/web-2-xs.jpg);
    background-size: cover;
    color: #FFF;
}

footer {
    /*margin-top: 4em;
    border-top: 1px solid #EEE;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 75%;
*/    position:fixed;
background:white;
    bottom:0px;
    left:0px;
    width:100%;
}

footer .copyright {
    text-align: right;
    padding-right:10px;
    padding-top:8px;
    font-size:13px;
    background:white;
    margin-bottom:-3px;
}

#footer-background {
	background-image:url(../img/header.png);
	height:100px;
}
.form-control {
    font-size: 16px;
}

dd {
    margin-bottom: 1em;
}

@media (min-width: 992px) {
    .jumbotron {
        background-image: url(../img/web-2-sm.jpg);
    }
}

@media (min-width: 2000px) {
    .jumbotron {
        background-image: url(../img/web-2.jpg);
    }
}

ol > li > ol {
    list-style: lower-alpha;
}



body {
	/*font-family:georgia !important;*/
	margin:20px !important;
}
.section {
	font-size:30px;
	opacity:.8;
	text-decoration: underline;
	padding-left:20px;
}

a {
	/*text-decoration: none;*/
	/*color:black;*/
	cursor:pointer;
}

.title {
	font-size:22px !important;
}

a:hover {
	color:#67B3F4 !important;
}

.lesson {
	width:80%;
	padding:10px;
	padding-left:30px;
}

.description {
	opacity:.5;
	font-size:16px;
}

.challenge {
	padding-left:30px;
}

table#details tr td:first-child{
	font-weight:bold;
	padding-right:10px;
}

.btn-group-justified>.btn-group .btn {
  font-size: 25px;
}
.group {
	border-bottom:1px solid #d3d3d3;
}
.row {
	padding-bottom:10px;
}


.resource.reading {
	background-image: url(../img/reading-sm.png);
}

.resource.video {
	background-image: url(../img/video-sm.png);
}

.resource.slides {
    background-image: url(../img/slides-sm.png);
}

.resources .resource {
  list-style: none;
  min-height: 32px;
  padding-left: 42px;
  line-height: 32px;
  background-repeat: no-repeat;
}

.challenge-title {
    opacity:.5;
}

a {
  color: #337ab7 !important;
  text-decoration: none !important;
}

#setVolume{
    display:none;
    position:fixed;
}


button:focus{
    color:white;
    background-color: #204d74;
}
button:active{
    color:white;
    background-color: #204d74;
}
button:target{
    color:white;
    background-color: #204d74;
}