body {
	font-family:georgia !important;
}
.section {
	font-size:30px;
	opacity:.8;
	text-decoration: underline;
	padding-left:20px;
}

a {
	text-decoration: none;
	color:black;
	font-size:22px !important;
}

a:hover {
	color:blue !important;
}

.lesson {
	width:80%;
	padding:10px;
	padding-left:30px;
}

.description {
	opacity:.5;
}