<main ng-app="ChallengeApp" ng-controller="ChallengeController">		
	<a class="section" ng-click="viewChallenge(null)" ng-if="currentChallenge" >Back to Challenges</a>
	<div ng-if="!currentChallenge" class="section">Challenges</div>
	<div ng-if="!currentChallenge" class="lesson" ng-repeat="challenge in challenges">
		<div>
			<a class="title" ng-click="viewChallenge(challenge.url)">{{challenge.title}}</a>
		</div>
		<div class="description">{{challenge.description}}</div>
		<div class="details"><p>Due: {{challenge.due}}, {{challenge.points}} points</p></div>
	</div>
	<div class="challenge" ng-if="currentChallenge" ng-include="currentChallenge"></div>
	 <div class="challenge" ng-if="currentChallenge">
        <h2>Submit your attempt</h2>
        <p>Your attempt will be graded using the following rubric:</p>
        <table class="table">
            <thead>
                <tr>
                    <th>Criterion</th>
                    <th>Weight</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="crit in currentRubric">
                    <td>{{crit.label}}</td>
                    <td>{{crit.weight * 100}}%</td>
                    <td>{{crit.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>