<main>		
	<div ng-controller="LandingController">
	<div class="container-fluid group">
		<div class = "row">
			<div class="col-sm-4">
				<h2>Details</h2>
					<table id="details">
						<tr>
							<td>Dates:</td>
							<td ng-bind="content.dates"></td>
						</tr>
							<td>Time:</td>
							<td ng-bind="content.time"></td>
						</tr>
							<td>Location:</td>
							<td><a href="http://uw.edu/maps/?mgh" target="_blank">{{content.location}}</a></td>
						</tr>
							<td>Credits:</td>
							<td ng-bind="content.credits"></td>
						</tr>
					</table>
				</div>
			<div class="col-sm-4">
				<div>
					<h2>Instructor</h2>
					<div ng-bind="content.instructor"></div>
					<div ng-bind="content.instructor_position"></div>
					<a href="mailto:{{content.instructor_email}}?Subject=Info343%20question" target="_top">Email</a>
				</div>
			</div>
			<div class="col-sm-4">
				<div>
					<h2>Teaching Assistant</h2>
					<div ng-bind="content.ta"></div>
					<div ng-bind="content.ta_position"></div>
					<a href="mailto:{{content.ta_email}}?Subject=Info343%20question" target="_top">Email</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<div class="group">
			<h2>Overview</h2>
			<p class="description" ng-bind="content.overview"></p>
		</div>
		<div class="group">
			<h2>Class time</h2>
			<p class="description" ng-bind="content.class_time"></p>
		</div>
		<div class="group">
			<h2>Challenges</h2>
			<p class="description"  ng-bind="content.challenges"></p>
		</div>
		<div class="group">
			<h2>Grading</h2>
			<p class="description"  ng-bind="content.grading"></p>
		</div>
		<div class="group">
			<h2>Open-source</h2>
			<p class="description"  ng-bind="content.open_source"></p>
		</div>
		
	</div>
</div>

	<div class="container-fluid" ng-controller="ScheduleController">
		<h2>Schedule</h2>
		<table class="table table-hover">
			<th>Date</th>
			<th>Topic</th>
			<th>Due</th>
			 <tr ng-repeat="lecture in lectures">
			 	<td>{{lecture.date}}</td>
			 	<td ng-if="lecture.url"><a href="lectures/{{lecture.url}}" target="_blank">{{lecture.title}}</a></td>
			 	<td ng-if="!lecture.url">{{lecture.title}}</td>
			 	<td><a href='#challenges/{{lecture.challengeUrl}}'>{{lecture.due}}</a></td>
			 </tr>
		</table>
	</div>
</main>