<h2>Summary</h2>

<p>Over the past two lectures, we've discussed the power of generating web content using an underlying data structure with the <a href="https://angularjs.org/" target="_blank">angular.js</a> framework.  We also reviewed the how to access request data from publicly accessible APIs using <a href="https://api.jquery.com/jquery.get/" target = "_blank">AJAX requests.</a></p>

<p>During this challenge, you will build a web application with Angular that accesses data from the <a href="https://developer.spotify.com/web-api/" target="_blank">Spotify API</a>.  This is the first group challenge, and it's also deliberately unstructured.  The <a href="http://faculty.washington.edu/mikefree/info343/templates/spotify/" target="_blank">example code</a> provided in class should provide you with the underlying structure for building you app, and allow you to think creatively about what you can do with the data.</p>

<h2>Objectives</h2>
<p>By completing this challenge, you will practice and demonstrate mastery of the following skills:</p>

<ul>
    <li>Use Angular <a href="http://www.w3schools.com/angular/angular_directives.asp" target="_blank">directives</a> and <a href="https://docs.angularjs.org/guide/expression" target="_blank">expressions</a> in HTML</li>
    <li>Create Angular <a href="http://www.w3schools.com/angular/angular_modules.asp" target="_blank">modules</a> and <a href="http://www.w3schools.com/angular/angular_controllers.asp" target="_blank">controllers</a> in your JavaScript code.</li>
    <li>Use an API and Angular's <code>$http</code> service to get data from a web application.</li>
</ul>

<h2>Resources</h2>

<p>The resources below, in conjunction with the template provided (<a href="https://github.com/mkfreeman/info343/tree/master/templates/spotify" target="_blank">code</a>, <a href="http://faculty.washington.edu/mikefree/info343/templates/spotify/" target="_blank">application</a>), should allow you to  begin exploring ideas of what you can do with your application.</p>


<p class="alert alert-warning">Note: the code provided, which you are welcome to fork on github, is intended to provide you with a springboard for building your application.  You may use this as a starting point, but it is expected that you will make substantial changes to the functionality of the page and view of the data.</p>

<h3>Relevant Slides from Class</h3>

<ul class="resources">
    <li class="resource slides"><a target="_blank" href="http://faculty.washington.edu/mikefree/info343/lectures/angular">Angular, Part I</a></li>
    <li class="resource slides"><a target="_blank" href="http://faculty.washington.edu/mikefree/info343/lectures/angular2">Angular, Part II</a></li>
</ul>

<h3>Resources on the Web</h3>

<ul class="resources">
    <li class="resource reading"><a target="_blank" href="http://www.w3schools.com/angular/default.asp">W3 Schools Angular Tutorial (great explanations)</a></li>
     <li class="resource reading"><a target="_blank" href="https://docs.angularjs.org/guide/introduction">Angular Developer Guide</a></li>
</ul>

<h2>Required Features</h2>

<p>Rather than provide step by step instructions, this challenge asks you to design a new application that meets the set of criterion below.  If you have any questions about these, <a ng-if="tas.length > 0" ng-href="mailto:kshino@uw.edu"> ask your TA,</a> or <a href="mailto:mikefree@uw.edu">ask Mike</a>.</p>


<h3>Build an HTML form with Angular</h3>

<p>In your web appliation, your user should be able to perform some sort of action via an HTML <code>form</code> element. For example, users may want to search for a song or artist, choose a type of music from a list, etc.  </p>

<p>Your code should impose requirements on the form, such as a minimum number of characters, and the form should provide the user with feedback regarding their entry.  For example:</p>

<img style="max-height:150px;" class="img-responsive screenshot" src="img/screenshots/spotify/form-msg.png"></img>
<h3>Use the API to get Data</h3>

<p>Based on the form input from your user, you should make a request to the Spotify API.  The API has a number of different configurations to specify your search.  Angular also provides a built in <code>$http</code> service that allows you to make AJAX requests within your application.</p>
<p class="alert alert-warning">Note: in order to leverage the <code>$http</code> service, you must include it as a variable when you create a controller</p>
<pre>
var myCtrl = myApp.controller('myCtrl', function($scope, $http) {
  $scope.getData = function(url) {
    $http.get(url).success(function(response){
      $scope.data = response.data 
    })
  }
})
</pre>


<h3>Use Angular directives to display data</h3>

<p>One of the core strengths of using Angular in your application is the ability to bind underlying data to visual elements.  The data retrieved from your <code>$http</code> service should be directly linked to your visual display.  If the data changes given a search, you visual elements should automatically update.</p>
<pre ng-non-bindable>
  &ltli ng-repeat="song in songs"&gt
    {{ song.title + ', ' + song.artist }}
  &lt/li&gt
</pre>

<h3>Do something creative!</h3>

<p>Have fun with this challenge!  The template was provided to allow you to explore different options of what you can do with the rich dataset.  This <a href="https://artistexplorer.spotify.com/" target="_blank">example</a> is <b>far</b> beyond what I would expect, but hopefully provides inspiration about the types of relationships there are in the data that can be explored.</p>


<h3>Deploy Site to Your Student Web Server</h3>

<p>As you've done in previous challenges, commit your files to a local repository, push those changes to a GitHub repository, and then deploy your site to your student web server.</p>
