body {
  padding:10px;
}
.img {
  margin-bottom:20px;
  border:1px solid #d3d3d3;
  padding:10px; 
  text-align:center;
  box-sizing:border-box;
}

img {
  max-height:100%;
  max-width:100%;
  cursor:pointer;
}
.container-fixed {
  width:90%;
  margin-left:5%;
  text-align:center;
}

.playing {
  border:5px solid lightblue;
}